@font-face
{
    font-family: 'Raleway';
    src: url('./Police/Raleway-VariableFont_wght.eot');
    src: url('./Police/Raleway-VariableFont_wght.eot?#iefix') format('embedded-opentype'),
         url('./Police/Raleway-VariableFont_wght.ttf') format('truetype'),
         url('./Police/Raleway-VariableFont_wght') format('svg');
    font-weight: normal;
    font-style: normal;
}

html
{
    font-size: 62.5%;
}
body
{
	font-family: 'Raleway', Arial, Verdana, sans-serif;
    margin: 0px;
}
.container
{
    max-width: 1440px;
    margin: 0 auto;
    font-size: 1.2rem;
}
a
{
    color: black;
    text-decoration-line: none;
}
b
{
    font-weight: 900;
}
p
{
    font-size: 1.4rem;
}
nav
{
	display: flex;
	justify-content: space-between;
	align-items: center;
    margin-bottom: 2em;
}

header nav a:hover 			/*placer un liseret au survol des choix de l'en-tête*/
{
    border-top: 2.5px solid #0065FC;
    color: #0065FC;
}
nav a
{
    font-size: 1.5rem;
    padding: 2.5rem 2rem 4rem 2rem;
}
.navlogo
{
    margin-right: 95rem;
}
.logo 
{
    padding-top: 2.1rem;
    width: 10rem;
    height: 5rem;
}
.position
{
    display: flex;
    flex-wrap: nowrap;
    font-weight: bold;
    background: none;
    margin-top: 1rem;
}
.searchbar
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #F2F2F2F2;
    height: 100%;
    width: 5rem;
    font-size: 1.5rem;
}
input::placeholder
{
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    opacity: 1;
}
button
{
    display: flex;
    align-items: center;
}
.filtre
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2rem;
    font-size: 1.9rem;
}
.filterbut
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border: 1px solid #CCCCCC;
    border-radius: 30px;
    font-weight: bold;
    margin: 1rem;
    padding: 2rem 3rem 2rem 0;
    background: none;
    height: 50px;
    font-size: 1.9rem;
}
.filterbut:hover
{
    background-color: #CCCCCC;
    transform: scale(1.05);
    transition-duration: 0.5s; 
    cursor: pointer;
}
.fa-stack
{
    font-size: 2.5rem;
    right: 1rem;
}
.inforesult
{
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    margin-top: 2rem;
}
.circle
{
    height: 2rem;
    width: 2rem;
    border: solid 1px #CCCCCC;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    position: relative;
    top: 7px; 
}


.centrepage
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 2rem 0rem;
}
.hebergement
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 1rem 3rem;
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 65%;
    margin-bottom: 2rem;

}
article
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    min-height: 50rem;
    margin-top: 2rem;
}
.card
{   
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 27rem;
    padding: 0.5rem;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 3px 3px 10px #CCCCCC; 
    cursor: pointer;
    margin-bottom: 2rem;
}
.cardimage
{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
}
.cardinfo , .cardinfo2, .cardinfo3
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.2rem;
    width: 100%;
    padding: 1rem 0 1rem 1rem;
    box-sizing: border-box;
}
.cardfooter
{
    margin: 0.1rem;
}
.cardinfo2 i 
{
    padding-top: 2rem;
    font-size: 1.2rem;
}
.photoHeber
{
   display: block;
   width: 100%;
   height: 14rem;
   border-top-right-radius: 20px;
   border-top-left-radius: 20px;
   object-fit: cover;
}
.tendances
{
  display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem 3rem;
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 25%;
    margin-bottom: 2rem;
}
.card2:hover , .card:hover , .card3:hover
{
    transform: scale(1.2);
    transition-duration: 1.5s;
}
.card2
{   
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15rem;
    text-align: left;
    margin: 0 0 2rem 0;
    padding: 0.5rem;
    background-color: white;
    border-radius: 15px;
    box-shadow: 3px 3px 10px #CCCCCC; 
    cursor: pointer;
}
.cardimage2
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 20rem;
    
}
.imgtendance
{
    display: flex;
    height: 100%;
    width: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    object-fit: cover;
}
.activités
{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
.activit
{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 25%;
}
.card3
{
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: white;
    border-radius: 15px;
    box-shadow: 3px 3px 10px #CCCCCC; 
    cursor: pointer;
}
.cardimage3
{
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}
.imgact1
{   
    height: 45rem;
    width: 33rem;
}
.imgact
{
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
    box-sizing: border-box;
    height: 100%;
}

.imgact2
{
    height: 25rem;
    width: 33rem;
}

.imgact3
{
    height: 11rem;
    width: 33rem;
}
.imgact4
{
    height: 20rem;
    width: 33rem;
}
.imgact5
{
    height: 16rem;
    width: 33rem;
}
footer
{
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    width: 100%;
    margin: 3rem 0 0 0;
    padding: 5rem 4rem;
    box-sizing: border-box;
}

li
{
    list-style: none;
    margin-right: 30rem;
    padding: 0;
}  
ul
{
    font-weight: 500;
    font-size: 1.5rem;
    padding: 0rem;
    margin-top: 1rem;
}
.iconsearch
{
    display: none;
}
.cyan
{
    color: #DEEBFF; 
}
.boldblue 
{
    color: #0065FC;
    font-weight: bold;
}
.bgblue
{
    background-color: #0065FC;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 2rem;
}
.grey
{
    color: #CCCCCC;
}
.greybrdr
{
    border: 1px solid #F2F2F2F2;
    padding: 0 7rem 0 1rem; 
}
h1
{
    margin: 0;
}
h2
{
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    font-size: 2.1rem;
    font-weight: 1000;
}
h3
{
    font-weight: 1000;
    font-size: 1.7rem;
    margin-right: 2rem;
}
h4
{
    font-weight: 800;
    font-size: 1.6rem;
    margin: 1rem;
    cursor: pointer;
}
h5
{
    font-size: 1.7rem;
    cursor: pointer;
    margin: 0;
    font-weight: 800;
}

/** Mobile **/
@media (max-width: 480px) 
{
    .container
    {
        margin: 0;
        max-width: inherit;

    }
    header nav a:hover
    {
    color: #0065FC;
    border-top: 0;
    }

    nav 
     {
        flex-wrap: wrap;
        min-height: 15rem;
        justify-content: center;
        align-content: center;
     }   
     nav :nth-child(3) , nav :nth-child(2)
     {
        order: 3;
        padding: 1.8rem;
        border-bottom: 3px solid #F2F2F2; 
        width: 40%;
    }
    
     .navheb:hover , .navact:hover
    {
    border-bottom: 3px solid #0065FC;
    color: #0065FC;
    }
    
     .navlogo
     {
        width: 40%;
        display: flex;
        justify-content: flex-start;
        margin: 0;
     }

    .navheb 
    {       }
    .navinsc
    {    width: 50%; 
        display: flex;
        justify-content: flex-end;
        align-self: flex-end;
    }
    .logo
    {
        padding: 0;
        margin: 0;
    }
    .search
    {
        padding: 0 2rem;
    }
    .textsearch
    {
        display: none;
    }
    .iconsearch
    {
        display: flex;
        color: white;
        font-size: 1.5rem;
    }
    .bgblue
    {
        padding: 1.5rem;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        position: relative;
        right: 10px;
    }
    .searchbar
    {
        font-size: 20px;
    }
    .filtre
    {
        flex-wrap: wrap;
    }
    .titlefilter
    {
        width: 100%;
    }
    .roman
    {
        margin-right: 15rem;
    }
    .filterbut
    {
        padding: 0 1rem 0 0;
        height: 5rem;
        font-size: 1.4rem;
    }
    .fa-stack
    {
        margin: 0;
    }
        
    .centrepage
    {
        flex-direction: column-reverse;
        margin: 0;
    }
    .card2:hover , .card:hover , .card3:hover
    {
        transform: inherit;
    }
    article
    {
        width: 100%;
        height: 100%;
        margin: 0 0 1.5rem 0;

    }
    .tendances
    {
        width: 100%;
        padding: 0;
        margin: 1rem 0;
    }
    .hebergement
    {
        width: 100%;
        background: inherit;
        padding: 0;
        margin: 1rem 0;
    }
    .activit
    {
        width: 100%;
    }
    .cardimage
    {
        width: 100%;
    }
    .imgact1, .imgact2, .imgact3, .imgact4, .imgact5
    {
        height: 16rem;
        width: 100%;
    }
    .card2
    {
        margin: 1rem 2rem;
    }
    .card
    {
        width: 100%;
        margin: 2rem;
    }
    .card3
    {
        width: 100%;
        margin: 2rem;
    }
    .cardinfo3
    {
        padding: 0;
    }
    h2
    {
        padding: 0 2rem;
    }
    h5
    {
        margin: 0.5rem 1.5rem;
    }
    footer
    {
        flex-direction: column;
        margin:  0;
    }
    li
    {
        margin: 0.5rem 0;
    }
}
/** Tablet **/
@media (max-width: 768px) {
            .container
    {
        margin: 0;
        max-width: inherit;
        font-size: 1.7rem;

    }
    header
    {
        padding: 1rem 3rem;
    }
    .navlogo
    {
        margin-right: 25rem;
    }
    .logo
    {
        padding: 0;
    }
    .search
    {
        padding: 1rem 3rem;
    }
        .textsearch
    {
        display: none;
    }
    .iconsearch
    {
        display: flex;
        color: white;
        font-size: 1.7rem;
    }
    .filtre
    {
        flex-wrap: wrap;
        justify-content: center;
    }
    .titlefilter
    {
        font-size: 2.7rem;
        width: 100%;
        margin: 1.5rem 0;
        padding: 0;
    }
    article
    {
        margin-top: 1rem;
        flex-direction: row-reverse;
    }
    .hebergement
    {
        width: 100%;
    }
    .card
    {
        width: 33rem;
        margin-bottom: 3rem;
    }
    .tendances
    {
        width: 100%;
        margin: 0;
    }

    .card2
    {
        height: 17rem;
        margin: 2rem 0;
    }
    .cardimage2
    {
        width: 40rem;
    }
    .activités
    {
        padding: 1rem 3rem;
    }
    .activit
    {
        width: 50%;
        margin: 1rem 0;
    }
    .greybrdr
    {
        padding: 0 15rem 0 3rem;
    }
    footer
    {
        padding: 1rem 3rem;
        flex-wrap: wrap;
    }
    h3
    {
        margin: 1rem 0;
    }
    h5
    {
        margin-bottom: 1rem;
    }
}
 