@font-face
{
    font-family: 'Raleway';
    src: url('\Police\static\Raleway-VariableFont_wght.eot');
    src: url('\Police\static\Raleway-Thin.eot?#iefix') format('embedded-opentype'),
         url('\Police\static\Raleway-Thin.woff') format('woff'),
         url('\Police\static\Raleway-Thin.ttf') format('truetype'),
         url('\Police\static\Raleway-Thin') format('svg');
    font-weight: normal;
    font-style: normal;
}

html
{
    font-size: 62.5%;
}
body
{
	font-family: "Raleway", Arial, Verdana, serif;
}
a
{
    color: black;
    text-decoration-line: none;
}
b
{
    font-weight: 900;
}
header
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
    align-content: center;
}

header a:hover 			/*placer un liseret au survol des choix de l'en-tête*/
{
    border-top: 2.5px solid #0065FC;
    color: #0065FC;
    padding-bottom: 25px;
}
.container
{
    max-width: 1440px;
    margin: 0 auto;
}
nav a
{
    font-size: 1.5rem;
    padding: 5rem;
}
nav
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
    padding: 0.5rem;
}
.position
{
    display: flex;
    flex-wrap: nowrap;
    font-weight: bold;
    background: none;
    margin-top: 1rem;
}
.searchbar
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #F2F2F2F2;
    height: 100%;
    width: 4rem;
    font-size: 1.5rem;
}
input::placeholder
{
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    opacity: 1;
}

button
{
    display: flex;
    align-items: center;
}
.filtre
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
    width: 100%;
    font-size: 1.9rem;
}
.filterbut
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border: 1px solid #CCCCCC;
    border-radius: 30px;
    font-weight: bold;
    margin: 1rem;
    padding: 0rem 1.5rem 0rem 0rem;
    background: none;
    height: 40px;
    font-size: 1.9rem;
}
.filterbut:hover
{
    background-color: #CCCCCC;
    transform: scale(1.05);
    transition-duration: 1s; 
}
.fa-stack
{
    font-size: 2.1rem;
    right: 0.7rem;
}
#hebergement
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 5rem;
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 65%;
    margin-bottom: 10rem;

}
#tendances
{
  display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 3rem;
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 20%;
    margin-bottom: 10rem;
}
#tendances a:hover , #hebergement a:hover
{
    transform: scale(1.5);
    transition-duration: 1s;
}
article
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;
    min-height: 40rem;
}
.card
{   
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 25rem;
    padding: 0.5rem;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 3px 3px 10px #CCCCCC; 
    cursor: pointer;
}
.cardimage
{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.cardinfo
{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.4rem;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}
.cardfooter
{
    margin: 0.3rem;
}
.photoHeber
{
   display: block;
   width: 100%;
   height: 10rem;
   border-top-right-radius: 20px;
   border-top-left-radius: 20px;
   object-fit: cover;
}
.imgtendance
{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 130px;
    height: 100%;
    object-fit: cover;

}

.card2
{   
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10rem;
    text-align: left;
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: white;
    border-radius: 15px;
    box-shadow: 3px 3px 10px #CCCCCC; 
    cursor: pointer;
}
.cardimage2
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    
}
.cardinfo2
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    padding-left: 1rem;
}
li
{
    list-style: none;
}

footer
{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 105px;
    margin-right: 90px; 
    padding: 30px;
    background-color: #F2F2F2;
}
.circle
{
    min-width: 2rem;
    min-height: 2rem;
    height: 2rem;
    width: 2rem;
    border: solid 1px #CCCCCC;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    position: relative;
    top: 7px; 
}
.inforesult
{
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}
.centrepage
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 5rem 0rem 5rem 0rem;
}

.cyan
{
    color: #DEEBFF; 
}
.boldblue 
{
    color: #0065FC;
    font-weight: bold;
}
.bgblue
{
    background-color: #0065FC;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1.5rem;
}
.grey
{
    color: #CCCCCC;
}
.greybrdr
{
    border: 1px solid #F2F2F2F2;
    padding-left: 1rem; 
}
.logo 
{
    width: 15rem;
    height: 5rem;
}
h2
{
    margin: 5px 10px 5px 0px;
    display: flex;
    justify-content: space-between;
}
h3
{
    font-weight: bold;
}